<h1>Аверьянов Александр Леонидович</h2>
<table>
	<tr>
		<td><%= image_tag("photo.jpg", height:'480')%></td>
		<td>
			<div><%= link_to('Обо мне', '#')%></div>
			<div><%= link_to('Мои работы', '#')%></div>
			<div><%= link_to('Сделать заказ', '#')%></div>
			<div><%= link_to('Контакты', '#')%></div>
		</td>
	</tr>
	
</table>